*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-SemiBold.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf');
}

$font1: 'Recoleta';
$font2: 'Noto Sans';

.container{
    width: 1170px;
    margin: 0 auto;
    @media (max-width: 1200px){
        width: unset;
        padding: 0 15px;
    }
}
.first{
    background: #163A24;
}
.header{
    background: #163A24;
    padding: 25px 0;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__logo{

    }
    &__menu{
        display: flex;
        @media( max-width:650px){
            display: none;
        }
        &__list{
            display: flex;
            align-items: center;
        }
        &__item{
            margin-right: 24px;
        }
        &__link{
            font-family: $font2;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            color: #FBFAF7;
        }
    }
    &__btn{
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: right;
        color: #FBFAF7;
        background: #198c36;
        border-radius: 160px;
        padding: 15px 25px;
    }
    &__burger{
        display: none;
        @media (max-width: 650px) {
            align-items: center;
            display: flex;
        }
    }

}
.intro{
    &__wrap{
        display: flex;
        align-items: center;
        @media (max-width: 650px){
            flex-wrap: wrap;
        }
    }
    &__block{

    }
    &__title{
        font-family: $font2;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        color: #FBFAF7;
        margin-bottom: 18px;
        @media (max-width: 1200px){
            font-size: 36px;
        }
    }
    &__text{
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FBFAF7;
    }
    &__img{
        width: 738px;
        height: 580px;
        @media (max-width: 1200px){
            align-self: flex-end;
            height: 360px;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}

// Second

.second{
    &__wrap{
        display: flex;
        flex-direction: column;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media(max-width: 965px) {
            flex-direction: column;
        }
    }
    &__texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 376px;
        @media(max-width: 965px) {
            flex-direction: column;
            margin-bottom: 30px;
            &_order{
                order: 1;
            }
            
        }
    }
    &__title{
        font-family: $font2;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        margin-bottom: 27px;
        @media(max-width: 700px) {
            font-size: 36px;
            line-height: 40px;
        }

    }
    &__text{
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #163A24;
        @media(max-width: 700px) {
            font-size: 14px;
            line-height: 16px;
        }

        
    }
    &__img{
        @media(max-width: 965px) {
            margin-bottom: 30px;
            &_order{
                order: 0
            }
        }
        @media(max-width: 500px) {
            width: 300px;
            height: 280px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

// third

.third{
    &__wrap{
    }

    &__block{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 293px;
    }
    &__subtitle{
        display: flex;
        justify-self: center;
        font-family: $font1;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        color: #163A24;
        margin-bottom: 66px;
    }
    &__partners{
        width: 100%;
        display: flex;
        justify-content: space-around;
        @media (max-width: 800px) {
            flex-wrap: wrap;
            gap: 20px;      
        }
    }
}

// fourth

.fourth{
    margin-top: 112px;
    background: #163A24;
    &__wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__block{
        width: 100%;
    }
    &__title{
        font-family: $font1;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        color: #FBFAF7;
        margin: 67px 0;
    }
    &__card{
        display: flex;
        justify-content: space-around;
        @media (max-width: 800px) {
            flex-wrap: wrap;
            gap: 20px;      
        }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__img{
                margin-bottom: 28px;
            }
            &__text{
                font-family: $font2;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #FBFAF7;
                text-align: center;
            }
        }
    }

    
}